.rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.star {
    font-size: 36px;

    &--filled {
        color: #ff6060;
    }

    &--empty {
        color: #e3e3e3;
    }
}

@media screen and (max-width: 768px) {

    .rating {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    .star {
        font-size: 18px;
    
        &--filled {
            color: #ff6060;
        }
    
        &--empty {
            color: #e3e3e3;
        }
    }
}