
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

// Application des styles globaux sur l'ensemble du document
* {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
}

.homepage {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about-page__content {
    width: 100%;  
    display: flex;
    flex-direction: column;
    gap: 20px;  
    margin: 20px auto; 
}

.listing-page {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .listing-info {
        display: flex;
        justify-content: space-between; 
        align-items: center;  
        flex-wrap: wrap;  

        &__left {
            display: flex;
            flex-direction: column;
            gap: 25px;  
            margin-left: 5%; 
        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: flex-end; 
            gap: 25px;
            padding-right: 5%;  
        }
    }

    .collapses-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .collapse {
        flex: 1;  
        max-width: 40%;  
        min-width: 300px;
        margin-top: 15px; 
    }
}

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.not-found__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px; 
}

.not-found__image {
    max-width: 600px;
}

.not-found__text {
    font-size: 36px;
    color: #FF6060;
}

.not-found__link {
    font-size: 18px;
    color: black;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 10%;
}

.not-found__link:hover {
    text-decoration: underline;
}


@media screen and (max-width: 768px) {

    .about-page__content {
        width: 100%;  
        display: flex;
        flex-direction: column;
        gap: 20px;  
        margin: 0px auto; 
    }

    .listing-page {
        display: flex;
        flex-direction: column;
        gap: 0px;
    
        .listing-info {
            display: flex;
            justify-content: space-between; 
            align-items: center;  
            flex-wrap: wrap;  
    
            &__left {
                display: flex;
                flex-direction: column;
                gap: 10px;  
                margin-left: 5%; 
            }
    
            &__right {
                display: flex;
                flex-direction: row-reverse;
                align-items: center; 
                gap: 140px;
                padding-right: 5%;
                padding-left: 5%;  
                margin-top: 3%;
            }
        }
    }

    .listing-page .collapses-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: 25px;
        margin-top: 5%;
    }

    .listing-page .collapse {
        flex: 1;
        max-width: 90%;
        min-width: 300px;
    }
    
    .not-found__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px; 
    }
    
    .not-found__image {
        max-width: 200px;
        margin-top: 30%;
    }
    
    .not-found__text {
        font-size: 18px;
        color: #FF6060;
    }
    
    .not-found__link {
        font-size: 14px;
        color: black;
        text-decoration: underline;
        font-weight: 500;
    }
    
    .not-found__link:hover {
        text-decoration: underline;
    }

}