.owner {
    display: flex;
    flex-direction: row;
    align-items: center;  
    gap: 5px;  
    text-align: right;

    &__name {
        font-size: 1.2rem;
        font-weight: normal;
        color: #ff5a5f;
        margin-bottom: 5px;
    }

    &__picture {
        width: 60px;
        height: 60px;
        border-radius: 50%;  
        object-fit: cover;  
        border: 2px solid #ccc;
    }
}