.collapse {
    width: 70%;  
    margin: 0 auto;  
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &__header {
        background-color: #ff6060;
        color: #fff;
        padding: 15px;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {
        transition: transform 0.3s ease;
        transform: rotate(-90deg);
    }

    &__icon.open {
        transform: rotate(90deg);
    }

    &__content {
        max-height: 0;
        background-color: #f7f7f7;
        font-size: 16px;
        color: #333;
        border-top: 1px solid #ddd;
        transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out;
    }

    &__content.open {
        max-height: 500px;
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .collapse {
        width: 90%;  
        margin: 0 auto;  
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
        &__header {
            background-color: #ff6060;
            color: #fff;
            padding: 15px;
            font-size: 13px;
            font-weight: bold;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        &__icon {
            transition: transform 0.3s ease;
            transform: rotate(-90deg);
        }
    
        &__icon.open {
            transform: rotate(90deg);
        }
    
        &__content {
            max-height: 0;
            background-color: #f7f7f7;
            font-size: 16px;
            color: #333;
            border-top: 1px solid #ddd;
            transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out;
        }

        &__content.open {
            max-height: 500px;
            opacity: 1;
        }
    }
}
