.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &__logo {
        max-width: 250px;
    }

    &__nav {
        display: flex;
        gap: 20px;
    }

    &__link {
        color: #000;
        text-decoration: none;
        font-size: 24px;
        font-weight: normal;

        &:hover {
            text-decoration: underline;
        }
    }

    &__link--active {
        text-decoration: underline;
    }
}